div.style.line {
  display: block;
  width: 100%;
  background-color: #44a5cb;
}

div.style.line.dark {
  background-color: #003e59;
}

div.x1 {
  height: 2px;
}

div.x2 {
  height: 4px;
}

div.x4 {
  height: 8px;
}
