body > div {
  width: 100%;
}

article, header {
  margin: 0 auto;
  width: 920px;
}

.clear-fix {
  clear: both;
}

header {
  text-align: right;
}
article > div.bracket {
  padding: 80px 0;
  text-align: center;
}

@media screen and (max-width: 568px) {
  header {
    width: 100%;  
  }

  article {
    width: 90%; 
    > div.bracket {
      padding: 50px 0; 
    }
  }
  header {
    text-align: center; 
  }
}


nav.global {
  text-align: center;
  ul {
    display: block;
    margin: 50px;
    li {
      display: inline-block;
      margin: 15px;
    }
  }
}

div#over > nav.global ul {
  margin : 0;
}

@media screen and (max-width: 568px) {
  footer > nav {
    text-align: left;
    ul {
      display: block;
      li {
        width: 100%;
      }
    }
  }
}

section.speaker {
  display: block;
  img {
    display: block;
    float: left;
    width: 200px;
  }

  div {
    float:left;
    hgroup {
      display: block;
      margin-left: 1em;
      h3 {
        margin: 0.2em 0;
        font-size: 1.5em;
        font-weight: bold;
      }

      h4 {
        font-weight: bold;
      } 

    }

    p {
      margin-left: 1em;
      margin-top: 1.75em;
    }
  }
}

section.speaker:after {
  clear: both;
}

table {
  thead {
    display: none;
  }
  tr {
    display: block;
    margin: 15px 0;
    border-bottom: 1px solid #003E59;
  }
  td {
    display: inline-block;
    margin: 0.4em;
  }
}

