body > div {
  width: 100%;
}

article, header {
  margin: 0 auto;
  width: 1120px;
}


header {
  text-align: right;
}
article > div.bracket {
  padding: 120px 0;
  text-align: center;
}

@media screen and (max-width: 568px) {
  header {
    width: 100%;  
  }

  article {
    width: 90%; 
    > div.bracket {
      padding: 50px 0; 
    }
  }
  header {
    text-align: center; 
  }
}


footer > nav {
  text-align: center;
  ul {
    display: block;
    margin: 50px;
    li {
      display: inline-block;
      margin: 15px;
    }
  }
}

@media screen and (max-width: 568px) {
  footer > nav {
    text-align: left;
    ul {
      display: block;
      li {
        width: 100%;
      }
    }
  }
}

