body {
  font-size: 12pt;
}
hgroup.logotype {
  font-family: 'Raleway';
  text-align: right;
  h1 {
    color: #44a5cb;
    font-size: 5.4em;
  }
  h2 {
    color: #999;
    font-size: 3em;
  }
}

nav {
  ul {
    font-family: 'Archivo Narrow';
    font-size: 2.4em;
    color: #eee;
    
  }

}
